<!DOCTYPE html>
<html>
    <head>
        <title>Марго Мастер</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" />
            <!--[if lte IE 8]>
                <link rel="stylesheet" href="{{ asset('assets/css/ie8.css') }}" />
            <![endif]-->
            <!--[if lte IE 9]>
                <link rel="stylesheet" href="assets/css/ie9.css" />
                <link rel="stylesheet" href="{{ asset('assets/css/ie9.css') }}" />
            <![endif]-->
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <!-- Scripts -->
            <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.scrolly.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.scrollzer.min.js') }}"></script>
            <script src="{{ asset('assets/js/skel.min.js') }}"></script>
            <script src="{{ asset('assets/js/util.js') }}"></script>
            <!--[if lte IE 8]>
                <script src="{{ asset('assets/js/ie/respond.min.js') }}"></script>
            <![endif]-->
            <script src="{{ asset('assets/js/main.js') }}"></script>

        {% endblock %}
    </body>
</html>
